<h2><%= @user.name %></h2>

<span><%= @user.email %></span> <br>

<% if @user == current_user %>
  <span><%= link_to "Edit Profile", edit_user_registration_path %> <%= link_to "Create New Event", new_user_event_path(@user) %></span>
<% end %>

<h3>Events</h3>
<% if @events.count == 0 %>
  <span> No events created yet! </span>
<% else %>
  <ul>
    <% @events.each do |event| %>
      <li>
        <%= render event %>
        <%= link_to 'Edit', edit_user_event_path(@user, event) if @user == current_user %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Attending Events</h3>
<ul>
  <% @attended_events.where('date >= ?', Date.today).each do |attended_event| %>
   <li> <%= link_to attended_event.title, event_path(attended_event) %></li>
  <% end %>
</ul>

<h3>Attended Events</h3>
<ul>
  <% @attended_events.where('date < ?', Date.today).each do |attended_event| %>
    <li> <%= link_to attended_event.title, event_path(attended_event) %></li>
  <% end %>
</ul>


